/* -------  Global -------*/
input:not([type="checkbox"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*:not(input) {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    -webkit-tap-highlight-color:rgba(0,0,0,0);;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a, u {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}

input, button {
    outline: none;
}

html,
body,
#root,
#root > .main {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root > .main {
    overflow-x: hidden;
}

body {
    font-family: Helvetica;
}

.hide {
    display: none !important;
}

.smallMarginBottom {
    margin-bottom: 1rem;
}

@media only screen and (max-width : 350px) {
    html {
        font-size: 14px;
    }
}

/* -------  FONTS -------*/

@font-face {
    font-family: 'prediga';
    src: url('../fonts/prediga.eot?12808858');
    src: url('../fonts/prediga.eot?12808858#iefix') format('embedded-opentype'),
    url('../fonts/prediga.woff2?12808858') format('woff2'),
    url('../fonts/prediga.woff?12808858') format('woff'),
    url('../fonts/prediga.ttf?12808858') format('truetype'),
    url('../fonts/prediga.svg?12808858#prediga') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prediga-groups';
    src: url('../fonts/prediga-groups.eot?36480419');
    src: url('../fonts/prediga-groups.eot?36480419#iefix') format('embedded-opentype'),
    url('../fonts/prediga-groups.woff2?36480419') format('woff2'),
    url('../fonts/prediga-groups.woff?36480419') format('woff'),
    url('../fonts/prediga-groups.ttf?36480419') format('truetype'),
    url('../fonts/prediga-groups.svg?36480419#prediga-groups') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* -------  Search -------*/

.search-component {
    position: relative;
    width: 12rem;
    height: 1.5rem;
    align-self: flex-end;
    margin-bottom: 1rem;
}

.search-component > input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: none;
    border-bottom: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.search-component > span {
    font-family: "prediga";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2rem;
    line-height: 1.5rem;
    color: #9B9B9B;
    text-align: center;
    font-size: 0.875rem;
    pointer-events: none;
}
/* -------  TEAM LOGO -------*/

.team-logo {
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    display: inline-block;
    background-size: 112px;
}

.team-logo.israel {
    background-size: 840px;
}

/* -------  Site -------*/
.scroll-site {
    position: relative;
    height: 100%;
    transition: transform 0.25s;
}

.scroll-site.move-left {
    transform: translateX(-250px);
}

.scroll-site.move-right {
    transform: translateX(250px);
}

.site {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.site-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

/* -------  Page -------*/

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ececec;
}

.page.hasSiteHeader {
    top: 2.75rem;
}

.page.hasSiteNavigation {
    bottom: 49px;
}

.page > .content {
    height: 100%;
}


.page > .content > .tiles,
.page > .content > .scroll-container{
    padding: 0.5rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.page > .content > .tiles.no-scroll {
    overflow-y: hidden;
}

.content > .tiles-header {
    height: 2rem;
}

.content > .subHeader {
    height: 1.5rem;
    background-color: #F8F8F8;
}

.content > .leagues-sub-header {
    display: flex;
    color: #CDCDCD;
    font-size: 0.875rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid #4A90E2;
}

.leagues-sub-header .league-item {
    line-height: 1.5rem;
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.leagues-sub-header .league-item.selected {
    color: #4A90E2;
    border-bottom: 3px solid #4A90E2;
}

.page > .content.hasTilesHeader > .tiles {
    height: calc(100% - 2rem);
}

.page > .content.hasSubHeader > .tiles {
    height: calc(100% - 1.5rem);
}

.page > .content.hasTilesHeader.hasSubHeader > .tiles {
    height: calc(100% - 3.5rem);
}


/* -------  Login Page -------*/

.login-page {
    height: 100%;
    background-image: url(../images/football-stadium-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}

.login-page .login-logo {
    max-width: 300px;
    width: 60%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.login-page .login-buttons {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    right: 2rem;
    text-align: center;
}

.login-page .login-button-wrapper {
    margin-bottom: 1rem;
}

.login-page .login-button-wrapper:last-child {
    margin-bottom: 0;
}

.login-page .login-button-wrapper a {
    width: calc(100% - 4rem);
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    max-width: 400px;
}

.login-page .login-button-wrapper a.facebook-login {
    background-color: #3e6aab;
}

.login-page .login-button-wrapper a.google-login {
    background-color: #ca1212;
}

/* -------  Site Header -------*/

.site-header {
    position: absolute;
    left: 0;
    right: 0;
    height: 2.75rem;
    display: flex;
    background-color: #F8F8F8;
}

.site-header .left,
.site-header .right {
    width: 27%;
    line-height: 2.75rem;
    font-size: 0.75rem;
    color: #4A90E2;
    top: 0;
    position: relative;
    align-items: center;
}

.site-header .left {
    left: 10px;
}

.site-header .right {
    display: flex;
    justify-content: flex-end;
    right: 10px;
}

.site-header .right .group-icon {
    font-family: "prediga-groups";
    font-size: 1.25rem;
}

.site-header .right .action-icon {
    font-family: "prediga";
    font-size: 1.5rem;
}

.site-header .right .action-button {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.site-header .menu-groups-button {
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    padding: 0 0.5rem;
}

.site-header .menu-groups-button.selected {
    background-color: #229eff;
    color: #fff;
}

.site-header .center {
    width: 46%;
    text-align: center;
    line-height: 44px;
    color: #4A90E2;
}


.site-header .back-button {
    font-family: "prediga";
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-left: -1rem;
}
/* -------  Menu -------*/

.site-header .menu-button {
    font-family: "prediga";
    color: #4A90E2;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
    margin-left: -0.3rem;
}

.site-header .menu-button.selected {
    background-color: #4A90E2;
    color: #fff;
}

.menu {
    position: absolute;
    top: 0;
    width: 250px;
    bottom: 0;
    color: #fff;
    padding-top: 0.5rem;
    z-index: 100;
    background-image: url(../images/football-stadium-small.png);
    background-size: cover;
}

.menu.main-menu {
    left: -250px;
}

.menu .menu-header {
    height: 4rem;
    background-image: url(../images/prediga_logo_transparent.png);
    background-size: 6rem 6rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.menu .menu-content {
    height: calc(100% - 5rem);
    position: relative;
    margin-top: 1rem;
}

.menu .menu-bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu .menu-items-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 0.875rem;
}

.menu button{
    font-family: "prediga";
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.menu .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top: 1px solid;
}

.menu .menu-item.selected {
    background-color: #009fff;
}

.menu .menu-item button {
    opacity: 0.5;
}

.menu .menu-item-text .menu-icon {
    font-family: "prediga";
    margin-right: 0.3rem;
}

.menu .menu-item-text > div {
    display: inline-block;
}

/* -------  Site Navigation -------*/

.site-navigation {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 49px;
    background-color: #fafafa;
    border-top: 1px solid #dadada;
}

.navigation-tab {
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    line-height: 49px;
    border-right: 1px solid #dadada;
    color: #4A90E2;
}

.navigation-tab.selected {
    background-color: #4A90E2;
    color: #fff;
}

.navigation-tab:last-child {
    border-right: none;
}

.navigation-tab span {
    font-family: "prediga";
    font-size: 24px;
}

/* -------  images pagination -------*/

.images-pagination-container {
    overflow: hidden;
    position: relative;
}

.images-pagination .button-area {
    position: absolute;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    z-index: 3;
}

.images-pagination .button-area.left {
    left: 0;
    box-shadow: 20px 0 36px 19px rgba(255, 255, 255, 0.88);
}

.images-pagination .button-area.right {
    right: 0;
    box-shadow: -20px 0 36px 19px rgba(255, 255, 255, 0.88);
}

.images-pagination .button-area button {
    font-family: "prediga";
    background: transparent;
    border: none;
    padding: 0;
    height: 100%;
    font-size: 2.5rem;
    color: #4A90E2;
}

.images-pagination .button-area button[disabled] {
    color: #d0dae1;
}

.images-pagination .scroll {
    width: 100000px;
}

.images-pagination .scroll.animate {
    transition-duration: 0.3s;
}

.images-pagination .item {
    display: inline-block;
}

.images-pagination .item img{
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    filter: grayscale(100%);
}

.images-pagination .item.selected img {
    filter: grayscale(0);
}

.images-pagination .item .title {
    text-align: center;
    color: #898989;
    font-size: 0.75rem;
}

.images-pagination .item.selected .title {
    color: #000;
}


/* -------  Input Number -------*/

.input-number {
    background-color: #CDCDCD;
    border-radius: 4px;
    display: flex;
    box-sizing: border-box;
    height: 32px;
    align-items: center;
}

.input-number button {
    background: transparent;
    border: none;
    font-size: 1.75rem;
    color: #fff;
    font-weight: bold;
    width: 30px;
    padding: 0;
    line-height: 30px;
    margin-bottom: 1px;
}

.input-number button[disabled] {
    color: #dcd6d6;
}

.input-number .number {
    width: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.input-number.disabled .number {
    border: 1px solid #CDCDCD;
}

.input-number.win .number {
    background-color: #7ED321;
    color: #fff;
}

.input-number.lost .number {
    background-color: #9B9B9B;
    color: #fff;
}

@media only screen and (max-width : 350px) {
    .input-number .number {
        width: 25px;
    }

    .input-number button {
        width: 25px;
    }
}

/* -------  Radio Button -------*/

.radio-button-wrapper {
    flex: 1;
    position: relative;
    min-width: 50px;
    /*overflow: hidden;*/
}

.radio-button {
    border: none;
    background-color: #CDCDCD;
    color: #fff;
    padding: 1px;
    width: 100%;
}

.radio-button.left,
.radio-button.left > div{
    border-radius: 4px 0 0 4px;
}

.radio-button.right,
.radio-button.right > div{
    border-radius: 0 4px 4px 0;
}

.radio-button > div {
    padding: 0.5rem 0;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    font-weight: bold;
    font-size: 0.625rem;
    white-space: nowrap;
}

.radio-button.selected > div {
    border-radius: 4px;
}

.radio-button.win > div {
    background-color: #7ED321;
}

.radio-button.lost > div {
    background-color: #9B9B9B;
}

/* -------  Tile Dialog -------*/

.tile-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.tile-dialog-container-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.tile-dialog-container .tile {
    margin: 0 0.5rem;
    box-sizing: border-box;
}

.tile-dialog-container .dialog-button {
    position: absolute;
    bottom: 1rem;
    right: 1.75rem;
    left: 1.75rem;
    display: flex;
    max-width: 700px;
    justify-content: center;
}

.tile-dialog-container .dialog-button button {
    background: transparent;
    color: #4A90E2;
    border: 1px solid #4A90E2;
    border-radius: 8px;
    font-size: 1rem;
    flex: 1;
    height: 2rem;
    max-width: 49%;
}

.tile-dialog-container .dialog-button button:first-child {
    margin-right: 0.5rem;
}

.tile-dialog-container .dialog-button button[disabled] {
    color: #CDCDCD;
    border: none;
}

@media only screen and (min-width : 700px) {
    .tile-dialog-container .tile {
        margin: 0 auto;
    }
    .tile-dialog-container .dialog-button {
        width: 670px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* -------  Tile -------*/

.tile {
    height: 8rem;
    background-color: #fff;
    box-shadow: 0 6px 12px -5px #615c5c;
    border-top: 1px solid #c1baba;
    border-bottom: 1px solid #c1baba;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto 0.5rem auto;
    border-radius: 4px;
    transition: height 0.3s;
}

.tile-dialog-container .tile {
    border-top: none;
    border-bottom: none;
}

.tile .tile-wrapper {
    border-left: 4px solid #888282;
    border-right: 4px solid #888282;
    border-radius: 4px;
    position: relative;
    height: 100%;
}

.tile .tile-wrapper .tile-border-right,
.tile .tile-wrapper .tile-border-left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-position: right;
    background-size: 100% 36px;
    background-repeat: repeat-y;
}

.tile .tile-wrapper .tile-border-right {
    right: -4px;
}

.tile .tile-wrapper .tile-border-left {
    left: -4px;
}

.tile .main {
    height: 8rem;
    display: flex;
}

.tiles-group-title {
    text-align: center;
    color: #797676;
    padding: 0.3rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* -------  base main tile -------*/

.tile .main.base  {
    justify-content: space-between;
}

.tile .main.base > .right {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.tile .main.base > .right .points {
    width: 2rem;
    text-align: center;
}

.tile .main.base .badge {
    width: 2rem;
    height: 2rem;
    background-size: 100%;
}

.tile .main.base > .left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


.tile .main.base .name-wrapper {
    margin-left: 0.75rem;
}

.tile .main.base .name {
    color: #000;
    font-weight: bold;
    margin-bottom: 1px;
}

.tile .main.base .description,
.tile .main.base .additional-description {
    font-size: 0.75rem;
    color: #898989;
}

.tile .main.base .rank {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.tile .main.base .rankTitle {
    font-size: 0.75rem;
    font-weight: bold;
}

.tile .main.base .image-wrapper {
    position: relative;
}

.tile .main.base .image-wrapper img {
    height: 3.5rem;
    width: 3.5rem;
}

.tile .main.base .trend {
    position: absolute;
    left: -8px;
    bottom: -4px;
    background-color: #a7a4a4;
    color: #fff;
    border-radius: 50%;
    font-size: 0.5rem;
    text-align: center;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.tile .main.base .trend.positive {
    background-color: #6ECE1A;
}

.tile .main.base .trend.negative {
    background-color: red;
}

/* -------  Leader Board tile-------*/

.leader-board-tile.tile {
    height: 6rem;
}

.leader-board-tile.tile.is-user {
    background-color: #F5EFBF;
}

.leader-board-tile.tile .main {
    height: 6rem;
}

.leader-board-tile.tile.open {
    height: 20rem;
}

.leader-board-tile .main.base .image-wrapper img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
}

.leader-board-tile .main.base .team-logo {
    background-size: 16.5rem;
    border-radius: 50%;
}

.leader-board-tile .no-content {
    text-align: center;
}

.leaderboard-match-rows {
    height: 14rem;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 0.5rem;
}

.leaderboard-match-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5rem 0;
    align-items: center;
}

.leaderboard-match-row:first-child {
    padding-top: 0;
}

.leaderboard-match-row .teams-score > div {
    display: inline-block;
}

.leaderboard-match-row .teams-score {
    flex: 1;
    display: flex;
}

.leaderboard-match-row .teams-score > div:nth-child(1),
.leaderboard-match-row .teams-score > div:nth-child(3){
    flex: 1;
}

.leaderboard-match-row .teams-score > div:nth-child(2) {
    margin: 0 0.5rem;
    font-weight: bold;
}

.leaderboard-match-row .teams-score > div:nth-child(1) {
    text-align: right;
}

.leaderboard-match-row .points {
    background-color: #6ECE1A;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
}
/* -------  team prediction tile -------*/
.tile-dialog-container .team-prediction-tile.tile {
    height: 19rem;
}

.tile-dialog-container.TeamPredictionTileDialog .dialog-button {
    height: calc((100% - 16rem)/2);
}

.team-prediction-form {
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* -------  game prediction -------*/

.games-prediction-page .tiles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.875rem;
    background-color: #4A90E2;
}

.games-prediction-page .tiles-header button {
    font-family: "prediga";
    background: transparent;
    border: none;
    padding: 0 1rem;
    color: #fff;
}

.games-prediction-page .tiles-header button[disabled] {
    color: #d0dae1;
}

.game-prediction-tile .main > .left,
.game-prediction-tile .main > .right {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile.game-prediction-tile.no-prediction {
    background-color: transparent;
    box-shadow: none;
}

.game-prediction-tile .main > .left {
    margin-left: 1rem;
}

.game-prediction-tile .main > .right {
    margin-right: 1rem;
}

.game-prediction-tile .team-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.game-prediction-tile .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0.8rem;
}

.game-prediction-tile .league-name,
.game-prediction-tile .graphContainer {
    flex: 1;
}

.game-prediction-tile .league-name {
    color: #898989;
    font-size: 0.625rem;
}

.game-prediction-tile .graphContainer {
    width: 100%;
}

.game-prediction-tile .graphContainer .graph {
    height: 0.2rem;
    display: flex;
}

.game-prediction-tile .graphContainer .graph > div{
    height: 100%;
    display: inline-block;
    margin-right: 4px;
}

.game-prediction-tile .graphContainer .graph > div:last-child {
    margin-right: 0;
}

.game-prediction-tile .status {
    flex: 3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #39393A;
    align-items: flex-end;
}

.game-prediction-tile .game-score,
.game-prediction-tile .game-points {
    margin-bottom: 0.5rem;
}

.game-prediction-tile .game-score {
    font-weight: bold;
    color: #cec7c7;
    font-size: 1.5rem;
}

.game-prediction-tile .post-game .game-score,
.game-prediction-tile .running-game .game-score {
    color: #000;
}

.game-prediction-tile .simulation-button {
    margin-bottom: 0.6rem;
    border: 1px solid #3ba2ff;
    padding: 0.2rem 1.5rem;
    border-radius: 6px;
    color: #3ba2ff;
}

.game-prediction-tile .game-points {
    color: #6ECE1A;
    font-weight: bold;
}

.game-prediction-tile .game-date {
    position: relative;
    text-align: center;
}

.game-prediction-tile .running-game .game-date:before,
.simulator-match .simulate-game-date:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #7ED321;
    right: -7px;
    top: -1px;
    -webkit-animation: flickerAnim 0.6s infinite;
    -moz-animation:    flickerAnim 0.6s infinite;
    -o-animation:      flickerAnim 0.6s infinite;
    animation:         flickerAnim 0.6s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@-webkit-keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.game-prediction-tile .final-game {
    font-weight: bold;
    color: #000;
}

.tile-dialog-container .game-prediction-tile.tile {
    height: 24.5rem;
}

/* -------  game prediction form tile -------*/

.game-prediction-tile .game-form {
    height: 13rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 0.625rem;
    color: #898989;
}

.game-prediction-tile .form-row-title,
.game-prediction-tile .form-title {
    font-weight: 300;
}
.game-prediction-tile .form-row-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.game-prediction-tile .game-outcome,
.game-prediction-tile .first-score {
    display: flex;
    margin-bottom: 1rem;
}

.game-prediction-tile .goals-predictions {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-prediction-tile .goals-predictions > div {
    position: relative;
}

.game-prediction-tile .points {
    position: absolute;
    bottom: 0;
    right: -1.2rem;
    height: 2rem;
    line-height: 2rem;
    color: #6ECE1A;
    font-weight: bold;
    font-size: 0.75rem;
}

.game-prediction-tile .points.right {
    left: -1.2rem;
    right: auto;
}

/* -------  Simulator -------*/

.simulator-page {
    display: flex;
    flex-direction: column;
}

.simulator-matches {
    min-height: 2.3rem;
    position: relative;
}

.simulator-page .tiles {
    flex: 1;
    height: auto !important;
    padding-top: 0 !important;
}

.simulator-match {
    padding: 0.5rem 1rem;
    max-width: 700px;
    margin: 0.5rem auto 0 auto;
    font-size: 0.625rem;
    color: #898989;
    border-bottom: 1px solid #b3b2b2;
}

.simulator-match:last-child {
    border-bottom: none;
}

.simulator-match .team-logo {
    transform: scale(0.8);
}

.simulator-match .row1 {
    display: flex;
}

.simulator-match .row1 > .left,
.simulator-match .row1 > .right {
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.simulator-match .row1 > .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.simulator-match .simulate-game-date {
    position: absolute;
    top: 0;
    font-size: 1rem;
}

.simulator-match .team-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.simulator-match .form-row-title {
    font-weight: 300;
    font-size: 0.625rem;
    color: #898989;
}

.simulator-match .form-row-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.simulator-match .first-score {
    display: flex;
    margin-bottom: 0.5rem;
}

/* -------  Create New Group -------*/

.create-new-group-page {
    color: #4A4A4A;
}
.create-new-group-page .title{
    font-weight: bold;
    font-size: 1.125rem;
    margin: 1rem;
}

.create-new-group-page .sub-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    height: 20px;
    align-items: center;
}

.create-new-group-page .sub-title {
    font-size: 0.75rem;
    line-height: 20px;
}

.create-new-group-page .small-text {
    font-size: 0.625rem;
    color: #9B9B9B;
}

.create-new-group-page label {
    margin-right: 0.3rem;
}

.create-new-group-page .invalid {
    border: 1px solid #ff1919 !important;
}

.create-new-group-page input.group-name {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.create-new-group-page .secret-container {
    display: flex;
    margin-bottom: 0.5rem;
}

.create-new-group-page .secret-container input {
    margin-right: 4vw;
    box-sizing: border-box;
    width: calc(100% / 6);
    height: calc(100vw / 6 - 5vw);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
}

.create-new-group-page .secret-container input:last-child {
    margin-right: 0;
}

.create-new-group-page .select-icon-row {
    display: flex;
    align-items: center;
}

.create-new-group-page .select-icon-row .group-icon {
    font-family: "prediga-groups";
    width: 4.625rem;
    height: 4.625rem;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-right: 1rem;
    font-size: 3.5rem;
    text-align: center;
    line-height: 4.625rem;
}

.create-new-group-page .select-icon-row button {
    width: 7.875rem;
    height: 2rem;
    background-color: transparent;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    font-size: 0.875rem;
    border-radius: 4px;
}

.create-new-group-page .select-all-container {
    display: flex;
    align-items: center;
}

.create-new-group-page .group-leagues > div {
    height: 4rem;
    background-color: transparent;
    margin-bottom: 1rem;
    border: 1px solid #979797;
    border-radius: 4px;
    line-height: 4rem;
    padding: 0 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.create-new-group-page .group-leagues > div.selected {
    background-color: #fff;
}

.create-new-group-page .group-leagues > div > .team-logo {
    margin-right: 0.5rem;
    filter: grayscale(100%);
}

.create-new-group-page .group-leagues > div.selected > .team-logo {
    filter: grayscale(0);
}

.create-new-group-page .row-scoring {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.create-new-group-page .row-scoring > input{
    width: 4.5rem;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.create-new-group-page .row-scoring > div{
    font-size: 0.75rem;
}

.create-new-group-page .row-buttons {
    margin: 1rem 1rem 0.5rem 0;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s transform;
}

.create-new-group-page .row-buttons > button {
    width: 7.875rem;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    border-radius: 4px;
}

.create-new-group-page .row-buttons > button[disabled] {
    background-color: transparent;
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.create-new-group-page .row-buttons > button:first-child {
    margin-right: 0.5rem;
}

/* -------  Join Group & Edit Group-------*/

.join-group-tile.tile,
.edit-group-tile.tile{
    height: 6.5rem;
}

.join-group-tile.tile.open {
    height: calc(9rem + (100vw / 6 - 5vw));
    max-height: 14.5rem;
}

.join-group-page .join-group-tile .tile-wrapper,
.edit-group-page .edit-group-tile .tile-wrapper {
    border-left: 1px solid #c1baba;
    border-right: 1px solid #c1baba;
}

.join-group-tile .join-group-main-tile,
.edit-group-tile .edit-group-main-tile {
    height: 6.5rem;
    font-size: 0.75rem;
    color: #4A4A4A;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
}

.join-group-tile .join-group-main-tile > .left,
.join-group-tile .join-group-main-tile > .right,
.edit-group-tile .edit-group-main-tile > .left,
.edit-group-tile .edit-group-main-tile > .right {
    display: flex;
    align-items: center;
}

.join-group-tile .join-group-main-tile > .left {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.join-group-tile .join-group-main-tile > .right {
    justify-content: flex-end;
    flex: 1
}

.edit-group-tile .edit-group-main-tile > .left {
    margin-right: 1rem;
}
.edit-group-tile .edit-group-main-tile > .left img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.join-group-tile .join-group-main-tile > .right,
.edit-group-tile .edit-group-main-tile > .right {
    width: 2.75rem;
}

.join-group-tile .join-group-main-tile > .right button,
.edit-group-tile .edit-group-main-tile > .right button {
    background: transparent;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 8px;
    border: 2px solid #7ED321;
    color: #7ED321;
    font-size: 2rem;
    padding: 0;
    vertical-align: middle;
}

.edit-group-tile .edit-group-main-tile > .right button {
    color: #D0021B;
    border-color: #D0021B;
}

.join-group-tile .join-group-main-tile > .center,
.edit-group-tile .edit-group-main-tile > .center {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.join-group-tile .join-group-main-tile .icon {
    font-family: "prediga-groups";
    font-size: 3rem;
}

.join-group-tile .join-group-main-tile .group-name,
.edit-group-tile .edit-group-main-tile .user-name {
    font-weight: bold;
    color: #000000;
}

.join-group-tile .join-group-main-tile .leagues-count,
.edit-group-tile .edit-group-main-tile .user-place {
    flex: 1;
    margin-top: 0.3rem;
}

.join-group-tile .join-group-main-tile .admin-name,
.edit-group-tile .edit-group-main-tile .joined-date {
    color: #9B9B9B;
    font-size: 0.625rem;
}

.join-group-tile .join-group-form-tile {
    padding: 0.5rem 1rem;
    border-top: 1px solid #eaeaea;
    color: #4A4A4A;
}

.join-group-tile .join-group-form-tile .secret-container {
    display: flex;
    margin-bottom: 0.5rem;
}

.join-group-tile .join-group-form-tile .secret-container input {
    margin-right: 4vw;
    box-sizing: border-box;
    width: calc(100% / 6);
    height: calc(100vw / 6 - 5vw);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 2rem;
    max-height: 5rem;
    max-width: 5rem;
    padding: 0;
}

.join-group-tile .join-group-form-tile .secret-container input:last-child {
    margin-right: 0;
}

.join-group-tile .join-group-form-tile .sub-title {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

    /* -------  select group icon page-------*/
.page > .content > .select-group-icon.scroll-container {
    padding: 0;
}

.select-group-icon .icons .icon {
    font-family: "prediga-groups";
    text-align: center;
    font-size: calc(100vw / 6 - 6vw);
    display: inline-block;
    box-sizing: border-box;
    width: calc(100vw / 6 - 6vw);
    height: calc(100vw / 6 - 6vw);
    margin: 3vw;
    transition: 0.3s transform;
}

.select-group-icon .color-pallete {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
    z-index: 100;
    opacity: 0;
    transition: 0.3s opacity;
}

.select-group-icon .color-pallete .color {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100vw / 6 - 6vw);
    height: calc(100vw / 6 - 6vw);
    margin: 3vw;
}

.select-group-icon .color-pallete .color.selected {
    border: 2px solid #4A4A4A;
}