/* -------  Global -------*/
input:not([type="checkbox"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*:not(input, textarea) {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    -webkit-tap-highlight-color:rgba(0,0,0,0);;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a, u {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}

input, button {
    outline: none;
}

a, button:not([disabled]) {
    cursor: pointer;
}

html,
body,
#root,
#root > .main {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root > .main {
    overflow-x: hidden;
}

body,textarea {
    font-family: Helvetica;
}

.hide {
    display: none !important;
}

.smallMarginBottom {
    margin-bottom: 1rem;
}

@media only screen and (max-width : 350px) {
    html {
        font-size: 14px;
    }
}

/* -------  FONTS -------*/

@font-face {
    font-family: 'prediga';
    src: url('../fonts/prediga.eot');
    src: url('../fonts/prediga.eot#iefix') format('embedded-opentype'),
    url('../fonts/prediga.woff2') format('woff2'),
    url('../fonts/prediga.woff') format('woff'),
    url('../fonts/prediga.ttf') format('truetype'),
    url('../fonts/prediga.svg#prediga') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prediga-groups';
    src: url('../fonts/prediga-groups.eot');
    src: url('../fonts/prediga-groups.eot#iefix') format('embedded-opentype'),
    url('../fonts/prediga-groups.woff2') format('woff2'),
    url('../fonts/prediga-groups.woff') format('woff'),
    url('../fonts/prediga-groups.ttf') format('truetype'),
    url('../fonts/prediga-groups.svg#prediga-groups') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* -------  Search -------*/

.search-component {
    position: relative;
    width: 12rem;
    height: 1.5rem;
    align-self: flex-end;
    margin-bottom: 1rem;
}

.search-component > input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: none;
    border-bottom: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.search-component > span {
    font-family: "prediga";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2rem;
    line-height: 1.5rem;
    color: #9B9B9B;
    text-align: center;
    font-size: 0.875rem;
    pointer-events: none;
}
/* -------  TEAM LOGO -------*/

.team-logo {
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    display: inline-block;
    background-size: 112px;
}

.team-logo.israel {
    background-size: 840px;
}

.team-logo.champions {
    background-size: 952px;
}

/* -------  Site -------*/
.scroll-site {
    position: relative;
    height: 100%;
    transition: transform 0.25s;
}

.scroll-site.move-left {
    transform: translateX(-250px);
}

.scroll-site.move-right {
    transform: translateX(250px);
}

.site {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog-open .site {
    filter: blur(1px);
}

.site-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

/* -------  Page -------*/

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ececec;
}

.page.hasSiteHeader {
    top: 2.75rem;
}

.page.hasSiteNavigation {
    bottom: 49px;
}

.page > .content {
    height: 100%;
}


.page > .content > .tiles,
.page > .content > .scroll-container{
    padding: 0.5rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.page > .content > .tiles.no-scroll {
    overflow-y: hidden;
}

.content > .tiles-header {
    height: 2rem;
}

.content > .subHeader {
    height: 1.5rem;
    background-color: #F8F8F8;
}

.content > .leagues-sub-header {
    display: flex;
    color: #CDCDCD;
    font-size: 0.875rem;
    padding: 0 0.5rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.leagues-sub-header .league-item {
    line-height: 1.5rem;
    flex: 1;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.leagues-sub-header .league-item.selected {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.page > .content.hasTilesHeader > .tiles {
    height: calc(100% - 2rem);
}

.page > .content.hasSubHeader > .tiles {
    height: calc(100% - 1.5rem);
}

.page > .content.hasTilesHeader.hasSubHeader > .tiles {
    height: calc(100% - 3.5rem);
}


/* -------  Login Page -------*/

.login-page {
    height: 100%;
    background-image: url(../images/football-stadium-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}

.login-page .login-logo {
    max-width: 300px;
    width: 60%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.login-page .login-buttons {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    right: 2rem;
    text-align: center;
}

.login-page .login-button-wrapper {
    margin-bottom: 1rem;
}

.login-page .login-button-wrapper:last-child {
    margin-bottom: 0;
}

.login-page .login-button-wrapper a {
    width: calc(100% - 4rem);
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    max-width: 400px;
}

.site-header .right {
    display: flex;
    justify-content: flex-end;
    right: 10px;
}

.login-page .login-button-wrapper a.facebook-login {
    background-color: #3e6aab;
}

.login-page .login-button-wrapper a.google-login {
    background-color: #ca1212;
}

/* -------  Site Header -------*/

.site-header {
    position: absolute;
    left: 0;
    right: 0;
    height: 2.75rem;
    display: flex;
    background-color: #F8F8F8;
    color: #4A90E2;
}

.site-header .left,
.site-header .right {
    width: 27%;
    line-height: 2.75rem;
    font-size: 0.75rem;
    top: 0;
    position: relative;
    align-items: center;
}

.site-header .left {
    left: 10px;
}

.site-header .right .group-icon {
    font-family: "prediga-groups";
    font-size: 1.25rem;
    cursor: pointer;
}

.site-header .right .action-icon {
    font-family: "prediga";
    font-size: 1.3rem;
    cursor: pointer;
}

.site-header .right .action-button {
    background: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    border-color: inherit;
    font-size: 0.7rem;
    cursor: pointer;
}

.site-header .menu-groups-button {
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    padding: 0 0.5rem;
}

.site-header .menu-groups-button.selected {
    background-color: #229eff;
    color: #fff;
}

.site-header .center {
    width: 46%;
    text-align: center;
    line-height: 44px;
}


.site-header .back-button {
    font-family: "prediga";
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-left: -1rem;
}
/* -------  Menu -------*/

.site-header .menu-button {
    font-family: "prediga";
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
    margin-left: -0.3rem;
    position: relative;
}

.site-header .menu-button.selected {
    color: #fff;
}

.site-header .menu-button .unread-messages-indication {
    position: absolute;
    top: 2px;
    right: -2px;
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.5rem;
    color: #fff;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}

.menu {
    position: absolute;
    top: 0;
    width: 250px;
    bottom: 0;
    color: #fff;
    padding-top: 0.5rem;
    z-index: 100;
    background-image: url(../images/football-stadium-small.png);
    background-size: cover;
}

.menu.main-menu {
    left: -250px;
}

.menu .menu-header {
    height: 4rem;
    background-image: url(../images/prediga_logo_transparent.png);
    background-size: 6rem 6rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.menu .menu-content {
    height: calc(100% - 5rem);
    position: relative;
    margin-top: 1rem;
}

.menu .menu-bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu .menu-items-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 1rem;
    margin-bottom: 0.2rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.menu button{
    font-family: "prediga";
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.menu .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top: 1px solid;
    cursor: pointer;
}

.menu .menu-item.selected {
    background-color: #009fff;
}

.menu .menu-item button {
    opacity: 0.5;
}

.menu .menu-item-text .menu-icon {
    font-family: "prediga";
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    margin-right: 0.3rem;
    margin-left: -0.75rem;
}

.menu .menu-item-text > div {
    display: inline-block;
}

.menu .text-indication {
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.5rem;
    color: #fff;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}

/* -------  Site Navigation -------*/

.site-navigation {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 49px;
    border-top: 1px solid #dadada;
    background-color: #4A90E2;
    color: #4A90E2;
}

.navigation-tab {
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    line-height: 49px;
    border-right: 1px solid #dadada;
    background-color: #fff;
    color: inherit;
}

.navigation-tab.selected {
    background-color: inherit;
    color: #fff;
}

.navigation-tab:last-child {
    border-right: none;
}

.navigation-tab span {
    font-family: "prediga";
    font-size: 24px;
}

.navigation-tab .nav-unread-messages-indication {
    font-size: 1rem;
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: 1rem;
    background-color: #6ECE1A;
    color: #fff;
    line-height: 1.5rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
}
/* -------  images pagination -------*/

.images-pagination-container {
    overflow: hidden;
    position: relative;
}

.images-pagination .button-area {
    position: absolute;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    z-index: 3;
}

.images-pagination .button-area.left {
    left: 0;
    box-shadow: 20px 0 36px 19px rgba(255, 255, 255, 0.88);
}

.images-pagination .button-area.right {
    right: 0;
    box-shadow: -20px 0 36px 19px rgba(255, 255, 255, 0.88);
}

.images-pagination .button-area button {
    font-family: "prediga";
    background: transparent;
    border: none;
    padding: 0;
    height: 100%;
    font-size: 2.5rem;
    color: #4A90E2;
}

.images-pagination .button-area button[disabled] {
    color: #d0dae1;
}

.images-pagination .scroll {
    width: 100000px;
}

.images-pagination .scroll.animate {
    transition-duration: 0.3s;
}

.images-pagination .item {
    display: inline-block;
}

.images-pagination .item img{
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    filter: grayscale(100%);
}

.images-pagination .item.selected img {
    filter: grayscale(0);
}

.images-pagination .item .title {
    text-align: center;
    color: #898989;
    font-size: 0.75rem;
}

.images-pagination .item.selected .title {
    color: #000;
}


/* -------  Input Number -------*/

.input-number {
    border-radius: 4px;
    display: flex;
    box-sizing: border-box;
    height: 32px;
    align-items: center;
    border: 1px solid #dad8d8;
}

.input-number.disabled,
.input-number.win,
.input-number.lost {
    border: none;
}

.input-number button {
    background: transparent;
    border: none;
    font-size: 1.75rem;
    color: #695b5b;
    font-weight: bold;
    width: 30px;
    padding: 0;
    line-height: 30px;
    margin-bottom: 1px;
}

.input-number button[disabled] {
    color: #dcd6d6;
}

.input-number button:first-child {
    border-right: 1px solid #dad8d8;
}

.input-number button:last-child {
    border-left: 1px solid #dad8d8;
}

.input-number .number {
    width: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.input-number.disabled .number {
    border: 1px solid #CDCDCD;
}

.input-number.win .number {
    background-color: #7ED321;
    color: #fff;
}

.input-number.lost .number {
    background-color: #9B9B9B;
    color: #fff;
}

@media only screen and (max-width : 350px) {
    .input-number .number {
        width: 25px;
    }

    .input-number button {
        width: 25px;
    }
}

/* -------  Radio Button -------*/

.radio-button-wrapper {
    flex: 1;
    position: relative;
    min-width: 50px;
}

.radio-button {
    border: 1px solid #8c868685;
    background-color: transparent;
    color: #484141;
    padding: 0;
    width: 100%;
}

.radio-button.left > div{
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.radio-button.left {
    border-radius: 5px 0 0 5px;
    border-right: none;
}


.radio-button.right > div {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.radio-button.right {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.radio-button > div {
    padding: 0.5rem 0;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    font-weight: bold;
    font-size: 0.625rem;
    white-space: nowrap;
}

.radio-button.selected > div {

}

.radio-button.selected {
    color: #000;
}

.radio-button.win > div {
    background-color: #7ED321;
}

.radio-button.lost > div {
    background-color: #9B9B9B;
}

.radio-button.win,
.radio-button.lost {
    border: none;
    color: #fff;
}

.radio-button.disabled {
    border: 1px solid #8c868685;
}

/* -------  Tile Dialog -------*/

.tile-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.tile-dialog-container-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    animation-name: dialog-open;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.07, 0.83, 0.35, 1.01);
    transform: translateY(-50%) scale(1);
}

@keyframes dialog-open {
    from { transform: translateY(-50%) scale(0.3); }
    to   { transform: translateY(-50%) scale(1); }
}

.tile-dialog-container .tile {
    margin: 0 0.5rem;
    box-sizing: border-box;
}

.tile-dialog-container .dialog-button {
    position: absolute;
    bottom: 1rem;
    right: 1.75rem;
    left: 1.75rem;
    display: flex;
    max-width: 700px;
    justify-content: center;
}

.tile-dialog-container .dialog-button button {
    background: transparent;
    color: #4A90E2;
    border: 1px solid #4A90E2;
    border-radius: 8px;
    font-size: 1rem;
    flex: 1;
    height: 2rem;
    max-width: 49%;
    margin-right: 0.5rem;
}

.tile-dialog-container .dialog-button button:last-child {
    margin-right: 0;
}

.tile-dialog-container .dialog-button button[disabled] {
    color: #CDCDCD;
    border: none;
}

@media only screen and (min-width : 700px) {
    .tile-dialog-container .tile {
        margin: 0 auto;
    }
    .tile-dialog-container .dialog-button {
        width: 670px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* -------  Tile -------*/

.tile {
    height: 8rem;
    background-color: #fff;
    box-shadow: 0 6px 12px -5px #615c5c;
    border-top: 1px solid #c1baba;
    border-bottom: 1px solid #c1baba;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto 0.5rem auto;
    border-radius: 4px;
    transition: height 0.3s;
    cursor: pointer;
}

.tile-dialog-container .tile {
    border-top: none;
    border-bottom: none;
    cursor: initial;
}

.tile .tile-wrapper {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 4px;
    position: relative;
    height: 100%;
}

.tile .tile-wrapper .tile-border-right,
.tile .tile-wrapper .tile-border-left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-size: 100% 38px;
    background-repeat: repeat-y;
}

.tile .tile-wrapper .tile-border-right {
    right: -4px;
}

.tile .tile-wrapper .tile-border-left {
    left: -4px;
}

.tile .main {
    height: 8rem;
    display: flex;
}

.tiles-group-title {
    text-align: center;
    color: #797676;
    padding: 0.5rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    position: sticky;
    top: 0;
    background: rgba(236, 236, 236, 0.95);
    z-index: 1;
}

.tiles-group-title.today {
    color: #0c0c0c;
    font-weight: bold;
}

/* -------  base main tile -------*/

.tile .main.base  {
    justify-content: space-between;
}

.tile .main.base > .right {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.tile .main.base > .right .points-wrapper {
    width: 2rem;
    text-align: center;
}

.tile .main.base > .right .points-current-match {
    margin-top: 0.5rem;
    background-color: #6ECE1A;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
    display: inline-block;
    font-size: 0.875rem;
}

.tile .main.base > .right .points-current-match.zero {
    background-color: #a7a4a4;
}

.tile .main.base .badge {
    width: 2rem;
    height: 2rem;
    background-size: 100%;
}

.tile .main.base > .left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


.tile .main.base .name-wrapper {
    margin-left: 0.75rem;
}

.tile .main.base .name {
    color: #000;
    font-weight: bold;
    margin-bottom: 1px;
}

.tile .main.base .description,
.tile .main.base .additional-description {
    font-size: 0.75rem;
    color: #898989;
}

.tile .main.base .rank {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.tile .main.base .rankTitle {
    font-size: 0.75rem;
    font-weight: bold;
}

.tile .main.base .image-wrapper {
    position: relative;
}

.tile .main.base .image-wrapper img {
    height: 3.5rem;
    width: 3.5rem;
}

.tile .main.base .trend {
    position: absolute;
    left: -8px;
    bottom: -4px;
    background-color: #a7a4a4;
    color: #fff;
    border-radius: 50%;
    font-size: 0.5rem;
    text-align: center;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.tile.is-user .main.base .trend {
    border-color: #F5EFBF;
}

.tile .main.base .trend.positive {
    background-color: #6ECE1A;
}

.tile .main.base .trend.negative {
    background-color: red;
}

/* -------  Leader Board tile-------*/

.leader-board-tile.tile {
    height: 6rem;
}

.leader-board-tile.tile.is-user {
    background-color: #F5EFBF;
}

.leader-board-tile.tile .main {
    height: 6rem;
}

.leader-board-tile.tile.open {
    height: 20rem;
}

.leader-board-tile .main.base .image-wrapper img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
}

.leader-board-tile .main.base .team-logo {
    background-size: 16.5rem;
    border-radius: 50%;
}

.leader-board-tile .no-content {
    text-align: center;
}

.leaderboard-match-rows {
    height: 14rem;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 0.5rem;
}

.leaderboard-match-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5rem 0;
    align-items: center;
    cursor: pointer;
}

.leaderboard-match-row:first-child {
    padding-top: 0;
}

.leaderboard-match-row .teams-score > div {
    display: inline-block;
}

.leaderboard-match-row .teams-score {
    flex: 1;
    display: flex;
}

.leaderboard-match-row .teams-score > div:nth-child(1),
.leaderboard-match-row .teams-score > div:nth-child(3){
    flex: 1;
}

.leaderboard-match-row .teams-score > div:nth-child(2) {
    margin: 0 0.5rem;
    font-weight: bold;
}

.leaderboard-match-row .teams-score > div:nth-child(1) {
    text-align: right;
}

.leaderboard-match-row .points {
    background-color: #6ECE1A;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
}

.leaderboard-match-row .points.zero {
    background-color: #a7a4a4;
}

/* -------  team prediction category tile -------*/


.team-prediction-category-tile .tile-wrapper {
    border-left: none;
    border-right: none;
}

.team-prediction-category-tile .main > .left,
.team-prediction-category-tile .main > .right {
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-prediction-category-tile .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
}

.team-prediction-category-tile .category-name {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.team-prediction-category-tile .category-description {
    font-size: 0.75rem;
    margin-bottom: 0.3rem;
    color: #585858;
}

.team-prediction-category-tile .category-status {
    font-size: 0.75rem;
    color: #a5a3a3;
}

.team-prediction-category-tile .category-total-points {
    text-align: center;
}

.team-prediction-category-tile .category-total-points > div:first-child {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.team-prediction-category-tile.hasResult .category-total-points > div:first-child {
    background-color: #7ED321;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
}

.team-prediction-category-tile.hasResult.zero .category-total-points > div:first-child {
    background-color: #9B9B9B;
}

.team-prediction-category-tile .category-total-points > div:nth-child(2) {
    color: #a5a3a3;
    font-size: 0.75rem;
}

.team-prediction-category-tile .category-icon {
    width: 100%;
    height: 100%;
}

/* -------  team prediction tile -------*/
.team-prediction-tile .center{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.8rem;
}

.team-prediction-tile .main > .left {
    margin-left: 1rem;
}

.team-prediction-tile .main > .right {
    margin-right: 0.5rem;
}

.team-prediction-tile .team-name {
    font-weight: bold;
}

.team-prediction-tile .points {
    font-size: 0.65rem;
    color: #ccc;
    margin-top: 2px;
    flex: 1;
}

.team-prediction-tile .team-short-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.team-prediction-tile .rankTitle {
    font-weight: bold;
    text-align: center;
}

.team-prediction-tile .graphContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team-prediction-tile .graphContainer .graph {
    height: 0.2rem;
    display: flex;
}

.team-prediction-tile .points-win {
    align-self: flex-end;
    margin-bottom: 4px;
}

.team-prediction-tile .points-win.win {
    color: #7ED321;
}

.team-prediction-tile .main > .left,
.team-prediction-tile .main > .right {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile-dialog-container .team-prediction-tile.tile {
    height: 19rem;
}

.tile-dialog-container.TeamPredictionTileDialog .dialog-button {
    height: calc((100% - 16rem)/2);
}

.team-prediction-form {
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* -------  game prediction -------*/

.games-prediction-page .tiles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.875rem;
}

.games-prediction-page .tiles-header button {
    font-family: "prediga";
    background: transparent;
    border: none;
    padding: 0 1rem;
    color: #fff;
}

.games-prediction-page .tiles-header button[disabled] {
    color: #d0dae1;
}

.game-prediction-tile .main > .left,
.game-prediction-tile .main > .right {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile.game-prediction-tile.no-prediction {
    background-color: transparent;
    box-shadow: none;
}

.game-prediction-tile .main > .left {
    margin-left: 1rem;
}

.game-prediction-tile .main > .right {
    margin-right: 1rem;
}

.game-prediction-tile .team-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.game-prediction-tile .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0.8rem;
}

.game-prediction-tile .league-name,
.game-prediction-tile .graphContainer {
    flex: 1;
}

.game-prediction-tile .league-name {
    color: #898989;
    font-size: 0.625rem;
}

.game-prediction-tile .graphContainer {
    width: 100%;
}

.game-prediction-tile .graphContainer .graph {
    height: 0.2rem;
    display: flex;
}

.game-prediction-tile .graphContainer .graph > div{
    height: 100%;
    display: inline-block;
    margin-right: 4px;
}

.game-prediction-tile .graphContainer .graph > div:last-child {
    margin-right: 0;
}

.game-prediction-tile .status {
    flex: 3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #39393A;
    align-items: flex-end;
}

.game-prediction-tile .game-score,
.game-prediction-tile .game-points {
    margin-bottom: 0.5rem;
}

.game-prediction-tile .game-score {
    font-weight: bold;
    color: #cec7c7;
    font-size: 1.5rem;
}

.game-prediction-tile .post-game .game-score,
.game-prediction-tile .running-game .game-score {
    color: #000;
}

.game-prediction-tile .simulation-button,
.game-prediction-tile .random-button {
    margin-bottom: 0.6rem;
    border: 1px solid #3ba2ff;
    padding: 0.2rem 1.5rem;
    border-radius: 6px;
    color: #3ba2ff;
}

.game-prediction-tile .game-points {
    color: #6ECE1A;
    font-weight: bold;
}

.game-prediction-tile .game-date {
    position: relative;
    text-align: center;
}

.game-prediction-tile .running-game .game-date:before,
.simulator-match .simulate-game-date:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #7ED321;
    right: -7px;
    top: -1px;
    -webkit-animation: flickerAnim 0.6s infinite;
    -moz-animation:    flickerAnim 0.6s infinite;
    -o-animation:      flickerAnim 0.6s infinite;
    animation:         flickerAnim 0.6s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@-webkit-keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes flickerAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.game-prediction-tile .final-game {
    font-weight: bold;
    color: #000;
}

.tile-dialog-container .game-prediction-tile.tile {
    height: 24.5rem;
}

/* -------  game prediction form tile -------*/

.game-prediction-tile .game-form {
    height: 13rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 0.625rem;
    color: #898989;
}

.game-prediction-tile .form-row-title,
.game-prediction-tile .form-title {
    font-weight: 300;
}
.game-prediction-tile .form-row-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.game-prediction-tile .game-outcome,
.game-prediction-tile .first-score {
    display: flex;
    margin-bottom: 1rem;
}

.game-prediction-tile .goals-predictions {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-prediction-tile .goals-predictions > div {
    position: relative;
}

.game-prediction-tile .points {
    position: absolute;
    bottom: 0;
    right: -1.2rem;
    height: 2rem;
    line-height: 2rem;
    color: #6ECE1A;
    font-weight: bold;
    font-size: 0.75rem;
}

.game-prediction-tile .points.right {
    left: -1.2rem;
    right: auto;
}

/* -------  Simulator -------*/

.simulator-page {
    display: flex;
    flex-direction: column;
}

.simulator-matches {
    min-height: 2.3rem;
    position: relative;
}

.simulator-page .tiles {
    flex: 1;
    height: auto !important;
    padding-top: 0 !important;
}

.simulator-match {
    padding: 0.5rem 1rem;
    max-width: 700px;
    margin: 0.5rem auto 0 auto;
    font-size: 0.625rem;
    color: #898989;
    border-bottom: 1px solid #b3b2b2;
}

.simulator-match:last-child {
    border-bottom: none;
}

.simulator-match .team-logo {
    transform: scale(0.8);
}

.simulator-match .row1 {
    display: flex;
}

.simulator-match .row1 > .left,
.simulator-match .row1 > .right {
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.simulator-match .row1 > .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.simulator-match .simulate-game-date {
    position: absolute;
    top: 0;
    font-size: 1rem;
}

.simulator-match .team-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.simulator-match .form-row-title {
    font-weight: 300;
    font-size: 0.625rem;
    color: #898989;
}

.simulator-match .form-row-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.simulator-match .first-score {
    display: flex;
    margin-bottom: 0.5rem;
}

/* -------  Create New Group / Edit group-------*/

.available-leagues-list > div {
    height: 4rem;
    background-color: transparent;
    margin-bottom: 1rem;
    border: 1px solid #979797;
    border-radius: 4px;
    line-height: 4rem;
    padding: 0 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.available-leagues-list > div.selected {
    background-color: #fff;
}

.available-leagues-list > div > .team-logo {
    margin-right: 0.5rem;
    filter: grayscale(100%);
}

.available-leagues-list > div.selected > .team-logo {
    filter: grayscale(0);
}

.create-new-group-page, .edit-group-page {
    color: #4A4A4A;
}
.create-new-group-page .title,
.edit-group-page .title{
    font-weight: bold;
    font-size: 1.125rem;
    margin: 1rem 0;
}

.create-new-group-page .sub-title-container,
.edit-group-page .sub-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    height: 20px;
    align-items: center;
}

.create-new-group-page .sub-title,
.edit-group-page .sub-title {
    font-size: 0.75rem;
    line-height: 20px;
}

.create-new-group-page .small-text,
.edit-group-page .small-text {
    font-size: 0.625rem;
    color: #9B9B9B;
}

.create-new-group-page label,
.edit-group-page label {
    margin-right: 0.3rem;
}

.create-new-group-page .invalid,
.edit-group-page .invalid {
    border: 1px solid #ff1919 !important;
}

.create-new-group-page input.group-name,
.edit-group-page input.group-name {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.create-new-group-page .secret-container,
.edit-group-page .secret-container {
    display: flex;
    margin-bottom: 0.5rem;
}

.create-new-group-page .secret-container input,
.edit-group-page .secret-container input {
    margin-right: 4vw;
    box-sizing: border-box;
    width: calc(100% / 6);
    height: calc(100vw / 6 - 5vw);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
}

.create-new-group-page .secret-container input:last-child,
.edit-group-page .secret-container input:last-child {
    margin-right: 0;
}

.create-new-group-page .select-icon-row,
.edit-group-page .select-icon-row {
    display: flex;
    align-items: center;
}

.create-new-group-page .select-icon-row .group-icon,
.edit-group-page .select-icon-row .group-icon {
    font-family: "prediga-groups";
    width: 4.625rem;
    height: 4.625rem;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-right: 1rem;
    font-size: 3.5rem;
    text-align: center;
    line-height: 4.625rem;
}

.create-new-group-page .select-icon-row button,
.edit-group-page .select-icon-row button {
    width: 7.875rem;
    height: 2rem;
    background-color: transparent;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    font-size: 0.875rem;
    border-radius: 4px;
}

.create-new-group-page .select-all-container {
    display: flex;
    align-items: center;
}

.create-new-group-page .row-scoring {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.create-new-group-page .row-scoring > input{
    width: 4.5rem;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.create-new-group-page .row-scoring > div{
    font-size: 0.75rem;
}

.create-new-group-page .row-buttons,
.edit-group-page .row-buttons {
    margin: 1rem 1rem 0.5rem 0;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s transform;
}

.create-new-group-page .row-buttons > button,
.edit-group-page .row-buttons > button {
    width: 7.875rem;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    border-radius: 4px;
}

.create-new-group-page .row-buttons > button[disabled],
.edit-group-page .row-buttons > button[disabled] {
    background-color: transparent;
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.create-new-group-page .row-buttons > button:first-child,
.edit-group-page .row-buttons > button:first-child {
    margin-right: 0.5rem;
}

.edit-group-page .leave-group-button,
.edit-group-page .delete-group-button {
    background: transparent;
    width: 100%;
    height: 3rem;
    color: #fff;
    background-color: #f31919;
    border-radius: 4px;
    font-size: 0.75rem;
    border: none;
}

.edit-group-page .delete-group-button {
    margin-top: 0.5rem;
}

/* -------  Join Group & Edit Group-------*/

.join-group-tile.tile,
.edit-group-tile.tile{
    height: 6.5rem;
}

.join-group-tile.tile.open {
    height: calc(9rem + (100vw / 6 - 5vw));
    max-height: 14.5rem;
}

.join-group-page .join-group-tile .tile-wrapper,
.edit-group-page .edit-group-tile .tile-wrapper {
    border-left: 1px solid #c1baba;
    border-right: 1px solid #c1baba;
}

.join-group-tile .join-group-main-tile,
.edit-group-tile .edit-group-main-tile {
    height: 6.5rem;
    font-size: 0.75rem;
    color: #4A4A4A;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
}

.join-group-tile .join-group-main-tile > .left,
.join-group-tile .join-group-main-tile > .right,
.edit-group-tile .edit-group-main-tile > .left,
.edit-group-tile .edit-group-main-tile > .right {
    display: flex;
    align-items: center;
}

.join-group-tile .join-group-main-tile > .left {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.join-group-tile .join-group-main-tile > .right {
    justify-content: flex-end;
    flex: 1
}

.edit-group-tile .edit-group-main-tile > .left {
    margin-right: 1rem;
}
.edit-group-tile .edit-group-main-tile > .left img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.join-group-tile .join-group-main-tile > .right,
.edit-group-tile .edit-group-main-tile > .right {
    width: 2.75rem;
}

.join-group-tile .join-group-main-tile > .right button,
.edit-group-tile .edit-group-main-tile > .right button {
    background: transparent;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 8px;
    border: 2px solid #7ED321;
    color: #7ED321;
    font-size: 2rem;
    padding: 0;
    vertical-align: middle;
}

.edit-group-tile .edit-group-main-tile > .right button {
    color: #D0021B;
    border-color: #D0021B;
}

.join-group-tile .join-group-main-tile > .center,
.edit-group-tile .edit-group-main-tile > .center {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.join-group-tile .join-group-main-tile .icon {
    font-family: "prediga-groups";
    font-size: 3rem;
}

.join-group-tile .join-group-main-tile .group-name,
.edit-group-tile .edit-group-main-tile .user-name {
    font-weight: bold;
    color: #000000;
}

.join-group-tile .join-group-main-tile .leagues-count,
.edit-group-tile .edit-group-main-tile .user-place {
    flex: 1;
    margin-top: 0.3rem;
}

.join-group-tile .join-group-main-tile .admin-name,
.edit-group-tile .edit-group-main-tile .joined-date {
    color: #9B9B9B;
    font-size: 0.625rem;
}

.join-group-tile .join-group-form-tile {
    padding: 0.5rem 1rem;
    border-top: 1px solid #eaeaea;
    color: #4A4A4A;
}

.join-group-tile .join-group-form-tile .secret-container {
    display: flex;
    margin-bottom: 0.5rem;
}

.join-group-tile .join-group-form-tile .secret-container input {
    margin-right: 4vw;
    box-sizing: border-box;
    width: calc(100% / 6);
    height: calc(100vw / 6 - 5vw);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 2rem;
    max-height: 5rem;
    max-width: 5rem;
    padding: 0;
}

.join-group-tile .join-group-form-tile .secret-container input:last-child {
    margin-right: 0;
}

.join-group-tile .join-group-form-tile .sub-title {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

    /* -------  select group icon page-------*/
.page > .content > .select-group-icon.scroll-container {
    padding: 0;
}

.select-group-icon .icons .icon {
    font-family: "prediga-groups";
    text-align: center;
    font-size: calc(100vw / 6 - 6vw);
    display: inline-block;
    box-sizing: border-box;
    width: calc(100vw / 6 - 6vw);
    height: calc(100vw / 6 - 6vw);
    margin: 3vw;
    transition: 0.3s transform;
}

.select-group-icon .color-pallete {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
    z-index: 100;
    opacity: 0;
    transition: 0.3s opacity;
}

.select-group-icon .color-pallete .color {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100vw / 6 - 6vw);
    height: calc(100vw / 6 - 6vw);
    margin: 3vw;
}

.select-group-icon .color-pallete .color.selected {
    border: 2px solid #4A4A4A;
}


/* -------  group messages page-------*/

.page > .group-messages-page.content > .scroll-container {
    height: auto;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.page > .group-messages-page.content.icons-picker-open > .scroll-container {
    bottom: 210px;
}

.group-messages-page .inputs-container {
    position: absolute;
    bottom: 0;
    min-height: 40px;
    left: 0;
    right: 0;
    background-color: #f5f1ee;
}

.group-messages-page .icons-picker-component {
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    background-color: #fff;
    overflow: hidden;
}

.group-messages-page .icons-picker-component .icons-picker-header {
    height: 26px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbb4b4;
    box-sizing: border-box;
}

.icons-picker-component .icons-picker-header .category-item {
    cursor: pointer;
    flex: 1;
    text-align: center;
    line-height: 26px;
    height: 26px;
    border-right: 1px solid #bbb4b4;
    font-size: 1rem;
    font-family: "prediga";
    color: #009fff;
}

.icons-picker-component .icons-picker-header .category-item:last-child {
    border-right: none;
}

.icons-picker-component .icons-picker-header .category-item.selected {
    background: #009fff;
    color: #fff;
}

.group-messages-page .icons-picker-component .icons-categories-scroll {
    height: calc(100% - 26px);
    white-space: nowrap;
    transition: 0.35s transform;
}

.group-messages-page .icons-picker-component .icons-page {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.group-messages-page .icons-picker-component .icons {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    white-space: initial;
    -webkit-overflow-scrolling: touch;
}

.icons-picker-component .icons .icon {
    width: 48px;
    height: 48px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    background-size: 96px;
}

.group-messages-page .input-wrapper {
    position: absolute;
    top: 4px;
    left: 35px;
    right: 35px;
    bottom: 4px;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
}

.group-messages-page .input-message {
    width: 100%;
    resize: none;
    overflow: auto;
    outline: none;
    border: none;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
    display: block;
    line-height: 24px;
    color: #555;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
}

.group-messages-page .input-message img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-size: 48px;
}

.group-messages-page .inputs-container .open-icons-picker {
    position: absolute;
    left: 3px;
    bottom: 6px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-family: "prediga";
    font-size: 1rem;
    color: #888888;
}

.group-messages-page .inputs-container .send-message {
    position: absolute;
    right: 3px;
    bottom: 6px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-family: "prediga";
    font-size: 1rem;
    color: #888888;
    transition: 0.3s color;
}

.group-messages-page .inputs-container .send-message[disabled] {
    color: #dad8d8;
}

.group-messages-page .group-message {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #262626;
}

.group-messages-page .group-message-content {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 7px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
    display: inline-block;
    float: left;
    position: relative;
    max-width: 100%;
}

.group-messages-page .group-message-content:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 17px 0px 5px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0px;
    left: -4px;
    content: '';
}

.group-messages-page .group-message.logged-user .group-message-content:after {
    border-width: 15px 5px 0px 17px;
    border-color: #dcf8c6 transparent transparent transparent;
    left: auto;
    right: -4px;
}

.group-messages-page .group-message:after {
    content: '';
    display: table;
    clear: both;
}

.group-messages-page .group-message.logged-user .group-message-content {
    background-color: #dcf8c6;
    float: right;
}

.group-messages-page .group-message .user-name {
    color: #06a006;
    margin-bottom: 0.5rem;
}

.group-messages-page .group-message .message {
    white-space: pre-line;
}

.group-messages-page .group-message .message img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-size: 48px;
}

.group-messages-page .group-message.icon-only .message img {
    width: 72px;
    height: 72px;
    background-size: 144px;
}

.group-messages-page .group-message .time {
    color: #00000073;
    text-align: right;
    margin-top: 4px;
    font-size: 0.666rem;
}

/* -------  rules-------*/

.rules-item {
    border-bottom: 1px solid gray;
}

.rules-item:last-child {
    border-bottom: none
}

.rules-item-content {
    padding: 1rem 0.5rem;
}

.rules-item:first-child .rules-item-content {
    padding-top: 0.5rem;
}

.rules-item-header {
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
}

.rules-item-items {
    color: #7b7979;
    font-size: 0.85rem;
}

.rules-item-items div {
    margin-bottom: 4px;
}

.rules-item-items div:last-child {
    margin-bottom: 0;
}