/* -------  Global -------*/
* {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

a, u {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}

input, button {
    outline: none;
}

html,
body,
#root,
.main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
}

.hide {
    display: none !important;
}

.smallMarginBottom {
    margin-bottom: 1rem;
}

/* -------  TEAM LOGO -------*/
.team-logo.israel {
    background-size: 52.5rem;
}

.team-logo.world_cup {
    background-size: 7rem;
}

.team-logo {
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    display: inline-block;
}

.team-logo.grayed {
    filter: grayscale(100%);
}

/* -------  Loading -------*/

.loading {
    background-image: url(../images/loading.gif);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 50% 50%;
}

/* -------  Page -------*/

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d4d4d4;
}

.page.hasSiteHeader {
    top: 2.75rem;
}

.page.hasSiteNavigation {
    bottom: 49px;
}

.page > .content {
    height: 100%;
    /*animation-duration: 0.3s;
    animation-fill-mode: forwards;*/
}

/*.page.animate-right-to-center > .content{
    animation-name: animateRightToCenter;
}

.page.animate-left-to-center > .content {
    animation-name: animateLeftToCenter;
}*/

.page > .content > .tiles,
.page > .content > .scroll-container{
    padding: 0.5rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.page > .content > .tiles.no-scroll {
    overflow-y: hidden;
}

.content > .tiles-header {
    height: 2rem;
}

.content > .subHeader {
    height: 1.5rem;
    background-color: #009fff;
}

.content > .leagues-sub-header {
    display: flex;
    color: #ccc;
    font-size: 0.875rem;
    padding: 0 0.5rem;
}

.leagues-sub-header .league-item {
    line-height: 1.5rem;
    flex: 1;
    text-align: center;
}

.leagues-sub-header .league-item.selected {
    color: #fff;
    border-bottom: 3px solid #cae2f5;
}

.page > .content.hasTilesHeader > .tiles {
    height: calc(100% - 2rem);
}

.page > .content.hasSubHeader > .tiles {
    height: calc(100% - 1.5rem);
}

.page > .content.hasTilesHeader.hasSubHeader > .tiles {
    height: calc(100% - 3.5rem);
}


/* -------  Login Page -------*/

.login-page {
    height: 100%;
    background-image: url(../images/football-stadium-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}

.login-page .login-logo {
    max-width: 300px;
    width: 60%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.login-page .login-buttons {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    right: 2rem;
    text-align: center;
}

.login-page .login-button-wrapper {
    margin-bottom: 1rem;
}

.login-page .login-button-wrapper:last-child {
    margin-bottom: 0;
}

.login-page .login-button-wrapper a {
    width: calc(100% - 4rem);
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    max-width: 400px;
}

.login-page .login-button-wrapper a.facebook-login {
    background-color: #3e6aab;
}

.login-page .login-button-wrapper a.google-login {
    background-color: #ca1212;
}

/* -------  Site Header -------*/

.site-header {
    position: absolute;
    left: 0;
    right: 0;
    height: 2.75rem;

    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    background: #fafafa;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(bottom, #b2b2b2, #b2b2b2 100%);
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 100%);
}

.site-header .left,
.site-header .right {
    width: 27%;
    line-height: 2.75rem;
    font-size: 0.75rem;
    color: #229eff;
}

.site-header .right {
    display: flex;
    justify-content: flex-end;
}

.site-header .right .action-button {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.site-header .center {
    width: 46%;
    text-align: center;
    line-height: 44px;
    color: #009fff;
}

/* -------  Menu -------*/

.menu-button {
    padding: 2px;
    position: relative;
    left: 10px;
}

.menu-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.21rem;
    bottom: 0.21rem;
    width: 1.2rem;
    background: linear-gradient(
            to bottom,
            #009fff, #009fff 20%,
            white 20%, white 40%,
            #009fff 40%, #009fff 60%,
            white 60%, white 80%,
            #009fff 80%, #009fff 100%
    );
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.87);
    transform: translateX(-100%);
    transition: transform 0.25s;
    color: #c5c1c1;
    padding-top: 0.5rem;
    z-index: 100;
}

.menu.open {
    transform: translateX(0);
}

.menu .menu-header {
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.5rem;
}

.menu .menu-content {
    height: calc(100% - 3rem);
    position: relative;
    margin-top: 1rem;
}

.menu .menu-header .close-menu {
    padding: 0 0.5rem;
    margin-left: -0.5rem;
}

.menu .menu-bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu .menu-item {
    padding: 0.5rem 0.5rem;
    border-top: 1px solid;
}

.menu .menu-top-content .menu-item:first-child {
    border: none;
}

.menu .menu-top-content .menu-item:last-child {
    border-bottom: 1px solid;
}

.menu .menu-item.selected {
    background-color: #009fff;
}

/* -------  Site Navigation -------*/

.site-navigation {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 49px;
    background-color: #fafafa;
    border-top: 1px solid #dadada;
}

.navigation-tab {
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    line-height: 49px;
    color: #717171;
    border-right: 1px solid #dadada;
}

.navigation-tab:last-child {
    border-right: none;
}

.navigation-tab:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    background-size: 4.5rem;
    background-image: url(../images/sprites/assets.png);
}

.gamesPredictions-tab:before {
    background-position: -24px -40px;
}

.gamesPredictions-tab.selected:before {
    background-position: -24px -16px;
}

.teamsPredictions-tab:before {
    background-position: -48px -16px;
}

.teamsPredictions-tab.selected:before {
    background-position: 0 -16px;
}

.leaderBoard-tab:before {
    background-position: 0 -40px;
}

.leaderBoard-tab.selected:before {
    background-position: -48px -40px;
}


/* -------  images pagination -------*/

.images-pagination-container {
    overflow: hidden;
    position: relative;
}

.images-pagination .button-area {
    position: absolute;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    z-index: 3;
}

.images-pagination .button-area.left {
    left: 0;
    box-shadow: 20px 0 36px 19px rgba(255, 255, 255, 0.88);
}

.images-pagination .button-area.right {
    right: 0;
    box-shadow: -20px 0 36px 19px rgba(255, 255, 255, 0.88);
}

.images-pagination .button-area button {
    background: transparent;
    border: none;
    padding: 0;
    height: 100%;
}

.images-pagination .button-area button div {
    height: 2.5rem;
    width: 2em;
    display: inline-block;
    background-size: 11.3rem;
}

.images-pagination .scroll {
    width: 100000px;
}

.images-pagination .scroll.animate {
    transition-duration: 0.3s;
}

.images-pagination .item {
    display: inline-block;
}

.images-pagination .item img{
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    filter: grayscale(100%);
}

.images-pagination .item.selected img {
    filter: grayscale(0);
}

.images-pagination .item .title {
    text-align: center;
    color: #898989;
    font-size: 0.75rem;
}

.images-pagination .item.selected .title {
    color: #000;
}


/* -------  Input Number -------*/

.input-number {
    background-color: #CDCDCD;
    border-radius: 4px;
    display: flex;
    box-sizing: border-box;
    height: 32px;
    align-items: center;
}

.input-number button {
    background: transparent;
    border: none;
    font-size: 1.75rem;
    color: #fff;
    font-weight: bold;
    width: 30px;
    padding: 0;
    line-height: 30px;
    margin-bottom: 1px;
}

.input-number .number {
    width: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.input-number.disabled .number {
    border: 1px solid #CDCDCD;
}

.input-number.win .number {
    background-color: #7ED321;
    color: #fff;
}

.input-number.lost .number {
    background-color: #9B9B9B;
    color: #fff;
}

/* -------  Radio Button -------*/

.radio-button-wrapper {
    flex: 1;
    position: relative;
}

.radio-button {
    border: none;
    background-color: #CDCDCD;
    color: #fff;
    padding: 1px;
    width: 100%;
}

.radio-button.left,
.radio-button.left > div{
    border-radius: 4px 0 0 4px;
}

.radio-button.right,
.radio-button.right > div{
    border-radius: 0 4px 4px 0;
}

.radio-button > div {
    padding: 0.5rem 0;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    font-weight: bold;
    font-size: 0.625rem;
}

.radio-button.selected > div {
    border-radius: 4px;
}

.radio-button.win > div {
    background-color: #7ED321;
}

.radio-button.lost > div {
    background-color: #9B9B9B;
}

/* -------  Tile Dialog -------*/

.tile-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
}

.tile-dialog-container-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.tile-dialog-container .tile {
    margin: 0 0.5rem;
    box-sizing: border-box;
}

.tile-dialog-container .dialog-button {
    position: absolute;
    bottom: 1rem;
    right: 1.75rem;
    left: 1.75rem;
    display: flex;
    max-width: 700px;
    justify-content: center;
}

.tile-dialog-container .dialog-button button {
    background: transparent;
    color: #4A90E2;
    border: 1px solid #4A90E2;
    border-radius: 8px;
    font-size: 1rem;
    flex: 1;
    height: 2rem;
    max-width: 49%;
}

.tile-dialog-container .dialog-button button:first-child {
    margin-right: 0.5rem;
}


@media only screen and (min-width : 700px) {
    .tile-dialog-container .tile {
        margin: 0 auto;
    }
    .tile-dialog-container .dialog-button {
        width: 670px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* -------  Tile -------*/

.tile {
    height: 8rem;
    background-color: #fff;
    box-shadow: 0 6px 12px -5px #615c5c;
    border-top: 1px solid #c1baba;
    border-bottom: 1px solid #c1baba;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto 0.5rem auto;
    border-radius: 4px;
    transition: height 0.3s;
}

.tile .tile-wrapper {
    border-left: 4px solid #888282;
    border-right: 4px solid #888282;
    border-radius: 4px;
    position: relative;
    height: 100%;
}

.tile .tile-wrapper .tile-border-right,
.tile .tile-wrapper .tile-border-left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-position: right;
    background-size: 100% 36px;
    background-repeat: repeat-y;
}

.tile .tile-wrapper .tile-border-right {
    right: -4px;
}

.tile .tile-wrapper .tile-border-left {
    left: -4px;
}

.tile .main {
    height: 8rem;
    display: flex;
}

.tiles-group-title {
    text-align: center;
    color: #797676;
    padding: 0.3rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* -------  base main tile -------*/

.tile .main.base  {
    justify-content: space-between;
}

.tile .main.base > .right {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.tile .main.base > .right .points {
    width: 2rem;
    text-align: center;
}

.tile .main.base .badge {
    width: 2rem;
    height: 2rem;
    background-size: 100%;
}

.tile .main.base > .left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


.tile .main.base .name-wrapper {
    margin-left: 0.75rem;
}

.tile .main.base .name {
    color: #000;
    font-weight: bold;
    margin-bottom: 1px;
}

.tile .main.base .description,
.tile .main.base .additional-description {
    font-size: 0.75rem;
    color: #898989;
}

.tile .main.base .rank {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.tile .main.base .rankTitle {
    font-size: 0.75rem;
    font-weight: bold;
}

.tile .main.base .image-wrapper {
    position: relative;
}

.tile .main.base .image-wrapper img {
    height: 3.5rem;
    width: 3.5rem;
}

.tile .main.base .trend {
    position: absolute;
    left: -8px;
    bottom: -4px;
    background-color: #a7a4a4;
    color: #fff;
    border-radius: 50%;
    font-size: 0.5rem;
    text-align: center;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.tile .main.base .trend.positive {
    background-color: #6ECE1A;
}

.tile .main.base .trend.negative {
    background-color: red;
}

/* -------  Leader Board tile-------*/

.leader-board-tile.tile {
    height: 6rem;
}

.leader-board-tile.tile .main {
    height: 6rem;
}

.leader-board-tile.tile.open {
    height: 20rem;
}

.leader-board-tile .main.base .image-wrapper img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
}

.leader-board-tile .main.base .team-logo {
    background-size: 16.5rem;
    border-radius: 50%;
}

.leader-board-tile .no-content {
    text-align: center;
}

.leaderboard-match-rows {
    height: 14rem;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 0.5rem;
}

.leaderboard-match-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5rem 0;
    align-items: center;
}

.leaderboard-match-row:first-child {
    padding-top: 0;
}

.leaderboard-match-row .teams-score > div {
    display: inline-block;
}

.leaderboard-match-row .teams-score > div:nth-child(1),
.leaderboard-match-row .teams-score > div:nth-child(2) {
    margin-right: 0.5rem;
}

.leaderboard-match-row .points {
    background-color: #6ECE1A;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
}

/* -------  team prediction tile -------*/
.tile-dialog-container .team-prediction-tile.tile {
    height: 18rem;
}

.tile-dialog-container.TeamPredictionTileDialog .dialog-button {
    height: calc((100% - 14rem)/2);
}

.team-prediction-form {
    padding: 0.5rem;
    box-sizing: border-box;
}

/* -------  game prediction -------*/

.games-prediction-page .tiles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #009fff;
    font-size: 0.875rem;
    background-color: #fff;
}

.games-prediction-page .tiles-header button {
    background: transparent;
    border: none;
    padding: 0 1rem;
}

.games-prediction-page .tiles-header button div {
    height: 1rem;
    width: 0.55rem;
    display: inline-block;
    background-size: 4.7rem;
}

.game-prediction-tile .main > .left,
.game-prediction-tile .main > .right {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile.game-prediction-tile.no-prediction {
    background-color: transparent;
    box-shadow: none;
}

.game-prediction-tile .main > .left {
    margin-left: 1rem;
}

.game-prediction-tile .main > .right {
    margin-right: 1rem;
}

.game-prediction-tile .team-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.game-prediction-tile .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0.8rem;
}

.game-prediction-tile .league-name,
.game-prediction-tile .graphContainer {
    flex: 1;
}

.game-prediction-tile .league-name {
    color: #898989;
    font-size: 0.625rem;
}

.game-prediction-tile .graphContainer {
    width: 100%;
}

.game-prediction-tile .graphContainer .graph {
    height: 0.2rem;
    display: flex;
}

.game-prediction-tile .graphContainer .graph > div{
    height: 100%;
    display: inline-block;
    margin-right: 4px;
}

.game-prediction-tile .graphContainer .graph > div:last-child {
    margin-right: 0;
}

.game-prediction-tile .status {
    flex: 3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #39393A;
    align-items: flex-end;
}

.game-prediction-tile .game-score,
.game-prediction-tile .game-points {
    margin-bottom: 0.5rem;
}

.game-prediction-tile .game-score {
    font-weight: bold;
    color: #cec7c7;
    font-size: 1.5rem;
}

.game-prediction-tile .post-game .game-score,
.game-prediction-tile .running-game .game-score {
    color: #000;
}

.game-prediction-tile .simulation-button {
    margin-bottom: 0.6rem;
    border: 1px solid #3ba2ff;
    padding: 0.2rem 1.5rem;
    border-radius: 6px;
    color: #3ba2ff;
}

.game-prediction-tile .game-points {
    color: #6ECE1A;
    font-weight: bold;
}

.game-prediction-tile .game-date {
    text-align: center;
}

.game-prediction-tile .final-game {
    font-weight: bold;
    color: #000;
}

.tile-dialog-container .game-prediction-tile.tile {
    height: 24.5rem;
}

/* -------  game prediction form tile -------*/

.game-prediction-tile .game-form {
    height: 13rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 0.625rem;
    color: #898989;
}

.game-prediction-tile .form-row-title,
.game-prediction-tile .form-title {
    font-weight: 300;
}
.game-prediction-tile .form-row-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.game-prediction-tile .game-outcome,
.game-prediction-tile .first-score {
    display: flex;
    margin-bottom: 1rem;
}

.game-prediction-tile .goals-predictions {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-prediction-tile .goals-predictions > div {
    position: relative;
}

.game-prediction-tile .points {
    position: absolute;
    bottom: 0;
    right: -1.2rem;
    height: 2rem;
    line-height: 2rem;
    color: #6ECE1A;
    font-weight: bold;
    font-size: 0.75rem;
}

.game-prediction-tile .points.right {
    left: -1.2rem;
    right: auto;
}

/* -------  Simulator -------*/

.simulator-page {
    display: flex;
    flex-direction: column;
}

.simulator-page > .subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}
.simulator-matches {
    min-height: 2.3rem;
    position: relative;
}

.simulator-page .matches-dropdown-button,
.simulator-page .back-button{
    background-color: #fff;
    color: #23a2ff;
    padding: 0.2rem 0.5rem;
    font-size: 0.75rem;
}

.simulator-page .tiles {
    flex: 1;
    height: auto !important;
    padding-top: 0 !important;
}

.simulator-page .matches-dropdown-menu {
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    right: 0.5rem;
    background-color: #d4d4d4;
    z-index: 5;
    border: 1px solid #848080;
    box-shadow: 0 6px 10px -3px #484545;
    max-height: 15rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.simulator-page .matches-dropdown-menu .match-row {
    height: 3rem;
    display: flex;
    align-items: center;
}

.simulator-page .matches-dropdown-menu .match-row:nth-child(2n-1) {
    background-color: #c1bdbd;
}

.simulator-page .matches-dropdown-menu .match-row.selected {
    background-color: #66b9f9;
    color: #fff;
}

.matches-dropdown-menu .match-row > div:first-child {
    flex: 1;
    text-align: center;
}

.matches-dropdown-menu .match-row > div:last-child {
    flex: 5;
    text-align: center;
}

.simulator-match {
    padding: 0.5rem 1rem;
    max-width: 700px;
    margin: 0.5rem auto 0 auto;
    font-size: 0.625rem;
    color: #898989;
    border-bottom: 1px solid #b3b2b2;
}

.simulator-match:last-child {
    border-bottom: none;
}

.simulator-match .team-logo {
    transform: scale(0.8);
}

.simulator-match .row1 {
    display: flex;
}

.simulator-match .row1 > .left,
.simulator-match .row1 > .right {
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.simulator-match .row1 > .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.simulator-match .team-name {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.simulator-match .form-row-title {
    font-weight: 300;
    font-size: 0.625rem;
    color: #898989;
}

.simulator-match .form-row-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.simulator-match .first-score {
    display: flex;
    margin-bottom: 0.5rem;
}





/*
@-webkit-keyframes animateLeftToCenter {
    0%   { transform:translateX(-100%);}
    100% { transform:translateX(0);}
}

@-webkit-keyframes animateRightToCenter {
    0%   { transform:translateX(100%);}
    100% { transform:translateX(0);}
}

@-moz-keyframes animateLeftToCenter {
    0%   { transform:translateX(-100%);}
    100% { transform:translateX(0);}
}

@-moz-keyframes animateRightToCenter {
    0%   { transform:translateX(100%);}
    100% { transform:translateX(0);}
}

@-o-keyframes animateLeftToCenter {
    0%   { transform:translateX(-100%);}
    100% { transform:translateX(0);}
}

@-o-keyframes animateRightToCenter {
    0%   { transform:translateX(100%);}
    100% { transform:translateX(0);}
}

@keyframes animateLeftToCenter {
    0%   { transform:translateX(-100%);}
    100% { transform:translateX(0);}
}

@keyframes animateRightToCenter {
    0%   { transform:translateX(100%);}
    100% { transform:translateX(0);}
}*/
